<form ng-submit="addIntoJson()">
<h3>Add New User</h3><div class="input-group">
    <span class="input-group-addon" id="basic-addon7">Name</span>
    <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="name"/><br/>
    <span class="input-group-addon" id="basic-addon6">Age</span>
    <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="age"/><br/>
    <span class="input-group-addon" id="basic-addon5">Username</span>
    <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="username"/><br/>

</div><br/>
<input type="submit" value="Submit" class="btn btn-primary">
</form> <br/><br/>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Search All</span>
    <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="globalSearch.$"/><br/>
    <span class="input-group-addon" id="basic-addon2">Filter by Name</span>
    <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="globalSearch.name"/><br/>
    <span class="input-group-addon" id="basic-addon3">Filter by Age</span>
    <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="globalSearch.age"/><br/>
    <span class="input-group-addon" id="basic-addon4">Filter by Username</span>
    <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="globalSearch.username"/><br/>
</div>



<div ng-controller="usersCtrl">
    <h4 ng-show="!globalSearch">Users</h4>
    <h4 ng-show="globalSearch">Search results</h4>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Username</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="person in persons | filter:globalSearch">
        <td>{{person.name}}</td>
        <td>{{person.age}}</td>
        <td>@{{person.username}}</td>
    </tr>

    </tbody>
</table>
    </div>