<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
</head>
<body>



<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Welcome</h3>
                    <nav class="nav nav-masthead" ng-init="tab = 1">
                        <a class="nav-link" ng-class="{ active:tab === 1 }" ng-click="tab = 1"href="#/">Home</a>
                        <a class="nav-link" ng-class="{ active:tab === 2 }" ng-click="tab = 2" href="#/dashboard">Dashboard</a>
                        <a class="nav-link" ng-class="{ active:tab === 3 }" ng-click="tab = 3" href="#/users">Users</a>
                    </nav>
                </div>
            </div>




                <div ng-view></div>
                <!--<h1 class="cover-heading">Cover your page.</h1>-->
                <!--<p class="lead"></p>-->
                <!--<p class="lead">-->
                    <!--<a href="#" class="btn btn-lg btn-secondary">Learn more</a>-->
                <!--</p>-->

            <div class="mastfoot">
                <div class="inner">
                    <!--<p>Footer here <a href="https://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>-->
                </div>
            </div>

        </div>

    </div>

</div>


<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="app.js"></script>
<script src="components/pages/base/base.js"></script>
<script src="components/pages/dashboard/dashboard.js"></script>
<script src="components/pages/users/users.js"></script>
<script src="components/pages/users/userService.js"></script>
<script src="components/pages/dashboard/dateProvider.js"></script>



</body>
</html>
